//colors

$colors_primary: #4ae255;
$colors_secondary: #111;
$colors_tertiary: #e8e9ea;
$colors_quartiary: #333;

//fonts

$fonts_primary: 'Roboto', sans-serif;
$fonts_secondary: 'Raleway', sans-serif;